<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soccer.project.business.mapper.BannerMapper">
    <resultMap id="BaseResultMap" type="com.soccer.project.business.entity.po.Banner">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="imageUrl" column="image_url" />
        <result property="sortOrder" column="sort_order" />
        <result property="jumpType" column="jump_type" />
        <result property="jumpContent" column="jump_content" />
        <result property="status" column="status" />
        <result property="createTime" column="create_time" />
    </resultMap>
    <sql id="Base_Column_List">id,title,image_url,sort_order,jump_type,jump_content,status,create_time</sql>
</mapper>
