<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soccer.project.business.mapper.IntelMapper">

    <resultMap id="BaseResultMap" type="com.soccer.project.business.entity.po.Intel">
            <id property="id" column="id" />
            <result property="intelDate" column="intel_date" />
            <result property="content" column="content" />
    </resultMap>

    <sql id="Base_Column_List">
        id,intel_date,content
    </sql>

    <select id="selectByDateRange" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM t_intelligence
        WHERE intel_date BETWEEN #{startDate} AND #{endDate}
        ORDER BY intel_date DESC
    </select>
</mapper>
