<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soccer.project.business.mapper.LightningSecretGroupMapper">

    <resultMap id="BaseResultMap" type="com.soccer.project.business.entity.po.LightningSecretGroup">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="rateOfReturn" column="rate_of_return" jdbcType="VARCHAR"/>
            <result property="total" column="total" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="leagueNames" column="league_names" jdbcType="OTHER"/>
        <result property="finished" column="finished" jdbcType="INTEGER"/>
            <result property="matchDate" column="match_date" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,rate_of_return,total,
        create_time,status,league_names,finished,
        match_date
    </sql>

    <select id="selectByDaysAgo" resultType="com.soccer.project.business.entity.po.LightningSecretGroup">
        SELECT id,total,match_date,finished,pay_code FROM t_lightning_secret_group WHERE `status`=1 AND match_date>= DATE_SUB(CURRENT_DATE(),INTERVAL #{days} DAY);
    </select>
</mapper>
